@charset "UTF-8";

.top-content{
	margin: 30px 0;
	overflow:hidden;
}
.top-content > div{
	width:50%;
	float:left;
}   
/* 썸네일 */
#thumnail-focus{
	width:90%;
	max-width:550px;
	margin-bottom:10px;
	border:1px solid #ddd;
}
#thumnail-focus img{
	width:100%;
}
#thumnail-list li{
	width:15%;
	float:left;
	margin-left:10px;
}
#thumnail-list li:first-child{
	margin-left: 0;
}
#thumnail-list li a img{
	width:100%;
	border:1px solid #ddd;
}
/* 카테고리 */
.i-category a{
	font-size:10pt;
	font-weight: bold;
}
.i-category a::after{
	content:" >";
}
.i-category a:last-child::after{
	content:"";
}
/* 주문정보 */
.info-div h4{
	font-size:3em;
}
.info-div #i-discount{
	font-size:3em;
	font-weight:bold;
	color:#5797f7;
}
.info-title{
	display:inline-block;
	width:50px;
	/* line-height: 60px; */
	font-size:11pt;
	font-weight:bold;
}
.price-div{
	position:relative;
	display:inline-block;
	margin-left:20px;
	height:60px;
}
.price-div #i-price{
	font-size:1.2em;
	position:absolute;
	top:0;
	left:0;
}
.price-div #sell-price{
	font-size:2.5em;
	display:inline-block;
	padding-top:10px;
}
.opt-div li{
	margin-bottom:10px;
}
.opt-div select{
	width:85%;
	height:30px;
}
.opt-chk{
	width:95%;
}
.opt-chk li .close{
	display:inline-block;
	width: 12px;
	height: 12px;
	position:absolute;
	top: 8px;
	right: 8px;
	background: url('../img/store/opt-cancel-btn.png') 0 0 no-repeat;
	background-size: 100%;
}
.cnt-div{
	display:inline-block;
	width: 24%;
	position: absolute;
	right: 35px;
	top: 9px;
}
.cnt-div > *{
	font-size:13pt;
	line-height:30px;
	font-weight:bold;
	width: 33%;
	text-align: center;
	display: inline-block;
}
.cnt-div input[type='button']{
	padding:0;
	background-color:#ddd;
	border-radius: 5px;
	font-size: 18pt;
	color: #666;
}
.price-chk #total-price{
	font-size:28pt;
	font-weight:bold;
	text-align:right;
	display:inline-block;
	width:85%;
}
.order_btn{
	width:90%;
	overflow:hidden;
	margin:20px auto;
}
.order_btn li{
	height:45px;
	width:49%;
	background-color:#5797f7;
	border-radius:8px;
	text-align:center;
	float:left;
}
.order_btn li:first-child{
	margin-right:2%;
}
.order_btn input[type='button']{
	line-height:45px;
	color:#fff;
	font-size: 1.5em;
	width: 100%;
}
.nav-tabs{
	margin-bottom:10px;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}
.nav-tabs li{
	margin-bottom:-1px;
	border:1px solid #ddd;
	width:15%;
	height:40px;
	line-height: 40px;
	text-align: center;
	font-size:11pt;
	border-radius:10px 10px 0 0;
	float: left;
}
.nav-tabs li a{
	display:inline-block;
	width: 100%;
}
input.opt-price{
	width: 10%;
}
input[type="text"]{
	border:none;
	line-height: 20px;
}
input[type="number"]{
	border:none;
	color:#555;
	
}
.opt-chk li{
	position: relative;
	border: 1px solid #ddd;
	padding: 5px;
	width: 100%;
	margin-top: 5px;
}
.opt-title{
	line-height: 20px;
	display:inline-block;
	width:10%;
	font-size:10pt;
	font-weight:bold;
}
.order-chk-div .price-chk{
	height: 65px;
	font-size: 30px;
	font-weight: bold;
}
.order-chk-div .price-chk span{
	line-height:50px;
}
.order-chk-div .price-chk #bPayment{
	width: 80%;
	font-size: 40px;
	font-weight:bold;
	text-align: right;
	line-height: 35px;
	padding-top: 15px;
}
input[type='button']{
	border:none;
	background-color:transparent;
}