@charset "UTF-8";

section > div{
	margin-bottom:40px;
}
section > div.width-auto{
	margin : 0 auto 40px;
}



/*/////메인-기획전배너/////*/
ul#event-banner li a{
	display:block;
	width:100%;
	height: 340px;
	background-repeat: no-repeat;
	background-size: 100% 340px;
}

#index-wrap .bx-wrapper{
	/*bx-slider 테두리없애기*/
	box-shadow: inherit;
	border:none;
	/*bx-slider 하단 마진 삭제*/
	margin-bottom:0;
}
/*bx-slider 페이징 위치 이동*/
#event-banner-wrap .bx-wrapper .bx-pager{
	bottom:10px;
}
/*bx-slider 좌우컨트롤러 이미지 변경*/
/* #event-banner-wrap .bx-controls-direction{
	background:none;
}
#event-banner-wrap .bx-controls-direction .bx-prev{
	background:url(../img/store/left-arrow.png) no-repeat 0 0; 	 
	background-size:100%;
}
#event-banner-wrap .bx-controls-direction .bx-next{
	background:url(../img/store/right-arrow.png) no-repeat 0 0;
	background-size:100%;
} */


/*/////메인페이지 공통/////*/
.main-title{
	position: relative;
	padding:10px 15px;
}
.main-title h3{
	display:inline-block;
	font-size:13pt;
	font-weight:bold;
}
.more-view{
	font-size:9pt;
	font-weight:bold;
	position: absolute;
	right:25px;
}
.more-view::after{
	display:inline-block;
	margin-left:3px;
	width:10px;
	height:10px;
	content:'';
	background-size:100%;
	background-image:url(../img/store/more-view-arrow.png);
	position:absolute;
	top:3px;
	left:35px;
	transition:all 0.6s ease;
}
.more-view.motion::after{
	left:40px;
}
.div-underline{
	margin-bottom:10px;
	border-bottom:0.3px solid #ebebeb;
}
/*/////베스트 상품/////*/
.rank{
	display:block;
	width:20px;
	height:20px;
	line-height:20px;
	position:absolute;
	text-align:center;
	font-size:9pt;
	font-weight:bold;
	background-color:#f79257;
	color:#fff;
}
.item-info{
	margin-top:5px;
	padding:0 5px;
}
.item-info .i-name{
	font-size:9.5pt;
	height:35px;
	margin-bottom:0;
}
.item-info .i-discount{
	display:inline-block;
	width:40px;
	font-weight:bold;
	font-size:12pt;
	color:#5797f7;
}
.item-info .i-discount::after{
	content: '%';
}
.item-info .i-price{
	font-weight:bold;
	font-size:11pt;
	color:black;
}
.item-info .i-price::after{
	content: '원';
}



/*/////자주찾는 카테고리/////*/
ul#popular-cate-list{
	overflow: hidden;
}
ul#popular-cate-list li{
	float:left;
	width:24.25%;
	margin-left:1%;
}
ul#popular-cate-list li:first-child,
ul#popular-cate-list li:nth-child(5){
	margin-left:0;
}
ul#popular-cate-list li.col-top{
	margin-bottom:1%;
}
ul#popular-cate-list li a{
	display:block;
	width:100%;
	line-height:60px;
	text-align:center;
	background-color:#D0F7E8;
	font-family:'Do Hyeon';
	font-size:17pt;
	letter-spacing:3px;
}
ul#popular-cate-list li a:hover{
	background-color:#7E9695;
	color:#fff;
}

/*특가 라인배너*/
.line-banner-wrap{
	width:100%;
	background-color:#b08664;
	height:70px;
}
.line-banner a,
.line-banner span{
	display:block;
	line-height:70px;
}


/*/////오늘만 특가/////*/
#today-sale{/*하단 공간 여유주기*/
	overflow: hidden;
	margin-bottom:100px;
}
#today-sale ul{
	width:90%;
	margin:0 auto;
}
#today-sale ul li{
	float:left;
	width:32%;
	position:relative;
	margin-left:2%;
	overflow:hidden;
}
#today-sale ul li:first-child{
	margin-left:0;
}
#today-sale .i-thumnail{
	width:100%;
}
#today-sale .i-thumnail.op-scale{
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transition: all 0.3s ease-in-out;   /* 부드러운 모션을 위해 추가*/
}
#today-sale .i-thumnail.op-scale:hover{
  	transform: scale(1.05);
  	-webkit-transform: scale(1.05);
  	-moz-transform: scale(1.05);
  	-ms-transform: scale(1.05);
  	-o-transform: scale(1.05);	
}
#today-sale .i-name{
	position:absolute;
	z-index:100;
	left:0;
	bottom:20px;
	display:block;
	font-size:12pt;
	background-color:rgba(0,0,0,0.5);
	width:98%;
	padding-left:3%;
	line-height:30px;
	color:#fff;
}
#today-sale .i-discount.top-label{
	position:absolute;
	z-index:100;
	top:0;
	right:10px;
	height:55px;
	width:60px;
	font-size:14pt;
	line-height: 45px;
	font-weight:bold;
	border-radius:0 0 30px 30px;
	text-align:center;
	background-color:#FF4A4A;
	color:#fff;
}
#today-sale .i-discount.top-label::after{
	content:'%';
}



