@CHARSET "UTF-8";

/* 회원가입 로고 부분 */
.joinLogo{margin-top: 5%;}
h1{text-align: center;}
p{text-align: right;}

a:link{color:black; text-decoration: none}/*링크가 상태일때 스타일*/
a:visited{color:black; text-decoration: none }/*방문했을때 스타일*/
a:active{color:black; text-decoration: none }/*마우스를 누른상태일때 스타일*/
h1>a:hover{color:black; text-decoration: none;}

.formDiv{width:60%; margin-left:20%;}


/* 우편번호 버튼 */
#codeBtn{background-color: #adb5bd; margin-left: 2%;}

/* 수정하기 버튼 */
#updateBtn{
	background-color: #adb5bd;
	margin-bottom: 3%;
}

/*경고글 색상*/
#warningid, #warningpwd, #warningusername, #warningaddr, #warningtel, #warningemail{color:red;}

/*비밀번호 입력 형식 색상*/
#telInfo{color: blue;}

/*필수요소 표시 색상*/
#star{color: red; size: 0.7em}

/* 수정폼  */
#frm{
	margin-top: 3%;
}


/* ===================================================== */
/* 반응형 */
@media (max-width:991px){
	h1>a{
	 font-size: 70%;
	}
	.formDiv{
		width: 667px;
		margin-left: 23px;   
	}
}

@media(max-width:768px){
	h1>a{
	 font-size: 50%;
	}
	.formDiv{
		width: 650px;
		margin-left: 5px;
	}
	#joinBtn{
		width: 475px;
	}
	#emailDiv{
		width: 595px;
	}	
}

@media(max-width:576px){
	h1>a{
	 font-size: 50%;
	}
	.formDiv{
		width: 280px;
		margin-left: 135px;
	}
	#joinBtn{
		width: 310px;
		margin-left: -10px;
	}
	#emailDiv{
		width: 310px;
	}
	
}

@media(max-width:466px){
	h1>a{
	 font-size: 50%;
	}
	.formDiv{
		width: 220px;
		margin-left: 50px;
	}
	#joinBtn{
		width: 245px;
		margin-left: -10px;
	}
	#emailDiv{
		width: 245px;
	}
}